.filter-button{
    background-color: transparent;
    border-color: #697676;
    color: #697676;
    cursor: pointer;    
    background-color: #fff ;
    color: #000 ;
    border: .5px solid  #cbd5e1;
    border-radius: 200px ;    
    display: flex ;
    padding: 8px 12px ;
    justify-content: center ;
    align-items: center ;
    margin: 0 5px 0px ;    
    line-height: 14.6px ;
    letter-spacing: .12px ;
    text-transform: capitalize ;
}
.filter-button:hover{
    background-color:  #7e59e7 ;
    color: white;
}
