.app-section-heading{   
    color: #7f5ae6;
}

.apps-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.apps-image{
    width: 35%;
}